@import 'basscss';

/* main */

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-L.ttf')  format('truetype');
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Ubuntu, Helvetica, sans-serif;
  background-color: #DDD;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

/* css variables */

:root {
  --color-about: #2196F3;
  --color-skills: #3E59E0;
  --color-projects: #713ACE;
  --color-contact: #9C27B0;
  --shadow-level-1: 0 1px 3px rgba(0,0,0,0.12);
  --shadow-level-2: 0 3px 6px rgba(0,0,0,0.15);
  --shadow-level-3: 0 6px 12px rgba(0,0,0,0.15);
  --shadow-level-4: 0 10px 20px rgba(0,0,0,0.20);
  --shadow-level-5: 0 15px 30px rgba(0,0,0,0.25);
}

/* cards */

#c-wrap {
  visibility: hidden;
}
.card-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card {
  position: absolute;
  width: 100%;
}
.card-container {
  padding-bottom: 1rem;
  background-color: #DDD;
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
}
.card-content {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.content-flex {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  text-align: left;
  padding: 1rem;
  background-color: rgba(0,0,0,0.075);
  box-shadow: var(--shadow-level-1);
}
.card-title {
  color: #F9F9F9;
  padding: 1rem;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}
.card-wrap {
  width: 100%;
  padding-bottom: 2rem;
  color: #222;
  background-color: #F9F9F9;
  box-shadow: var(--shadow-level-2);
}
.about-title { background-color: var(--color-about); }
.skills-title { background-color: var(--color-skills); }
.projects-title { background-color: var(--color-projects); }
.contact-title { background-color: var(--color-contact); }

/* header */

.header-card {
  position: relative;
  bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.header {
  width: 100%;
  height: 20rem;
  background-image: url('../assets/images/banner.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 -3px 6px rgba(0,0,0,0.15);
  transition: background-color 0.25s ease;
}
.header-inner {
  height: 12rem;
  position: relative;
  top: 12rem;
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #F9F9F9;
}
.header-title {
  padding-top: 4rem;
  color: #222;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}
.image-wrap {
  height: 15rem;
  width: 15rem;
}
.image-max {
  height: 100%;
  width: 100%;
}

/* skills */

.skills-col {
  flex: 1 0 auto;
}
.skills-content {
  padding: 1rem;
}
.skills-header {
  font-size: 1.25rem;
  padding: 1rem;
  background-color: rgba(0,0,0,0.075);
  color: var(--color-skills);
}

/* projects */

.project {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.075);
  height: 8rem;
  min-width: 12rem;
  position: relative;
  margin: 0.5rem;
  cursor: pointer;
  color: var(--color-projects);
  box-shadow: var(--shadow-level-2);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.project:hover{
  background-color: rgba(255,255,255,0.225);
  box-shadow: var(--shadow-level-4);
}
.project-image {
  position: absolute;
  top: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 8rem;
  width: 100%;
}
.project-title {
  position: absolute;
  top: 0;
  text-align: center;
  padding: 1rem;
  height: 8rem;
  width: 100%;
  padding-top: 2rem;
  line-height: 1.25rem;
}
.project-icon {
  background-image: url('../assets/icons/default.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 3rem;
  max-width: 6rem;
  min-height: 2rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.project-icon.icon-mandelbrot{
  background-image: url('../assets/icons/projects/mandelbrot.svg');
  background-size: cover;
  background-position: 50% 100%;
}
.project-icon.icon-carbody{
  background-image: url('../assets/icons/projects/carbody.svg');
}
.project-icon.icon-pid{
  background-image: url('../assets/icons/projects/pid.svg');
}
.project-icon.icon-pillsafe{
  background-image: url('../assets/icons/projects/pillsafe.svg');
}
.project-icon.icon-pacemaker{
  background-image: url('../assets/icons/projects/pacemaker.svg');
}
.project-icon.icon-heliostat{
  background-image: url('../assets/icons/projects/heliostat.svg');
}
.project-modal-img {
  margin-bottom: 1rem;
  width: 100%;
}

/* contact */

.contact {
  min-width: 10rem;
  padding: 1rem;
  padding-left: 2rem;
  margin: 0.5rem;
  color: var(--color-contact);
  background-color: rgba(0,0,0,0.075);
  cursor: pointer;
  box-shadow: var(--shadow-level-2);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.contact:hover {
  background-color: rgba(255,255,255,0.225);
  box-shadow: var(--shadow-level-4);
}
.contact-icon {
  display: inline-block;
  vertical-align: top;
  background-image: url('../assets/icons/default.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 2rem;
  min-height: 2rem;
}
.contact-icon.icon-email{
  background-image: url('../assets/icons/contacts/email.svg');
}
.contact-icon.icon-linkedin{
  background-image: url('../assets/icons/contacts/linkedin.svg');
}
.contact-icon.icon-github{
  background-image: url('../assets/icons/contacts/github.svg');
}
.contact-icon.icon-facebook{
  background-image: url('../assets/icons/contacts/facebook.svg');
}
.contact-icon.icon-google{
  background-image: url('../assets/icons/contacts/google.svg');
}
.contact-icon.icon-twitter{
  background-image: url('../assets/icons/contacts/twitter.svg');
}
.contact-label {
  display: inline-block;
  vertical-align: top;
  min-height: 2rem;
  padding-left: 1rem;
  line-height: 2rem;
}

/* modal */

.modal {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.25);
}
.modal.visible, .modal-cover.visible {
  visibility: visible;
}
.modal-cover{
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.25);
}
.modal-wrap {
  height: calc(100% - 4rem);
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--shadow-level-5);
}
.modal-header {
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  background-color: rgba(240,240,240,1);
}
.modal-title {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.modal-close {
  flex: none;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  background-color: rgba(0,0,0,0.075);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.modal-close:hover {
  background-color: rgba(255,255,255,0.225);
  box-shadow: var(--shadow-level-4);
}
.modal-content {
  overflow: auto;
  height: calc(100% - 4rem);
  background-color: #F9F9F9;
  color: #222;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.12);
}

/* youtube */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
